body{
    text-align: center;
}
h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    margin: 10px;
}
#display_name{
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    color: darkred;
}
#btn1{
    margin: 20px;
}
#btn2{
    margin: 20px;
    display: none;
}